
header{
    display:grid;
    border: 2px;
}


/*mobile*/
body{
    display:flex;
    flex-direction: column;
    border: 2px;
    
}

@media screen (min-width: 641px) and (max-width: 1007px){
   body{
    
        display:grid;
        grid-template-columns:3fr 3fr 3fr;
        border: 2px;
        
    }
}